<div class="modal fade modal-carousel modal-carousel-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div id="carousel-generic-{{id}}" class="carousel slide" data-ride="carousel" data-interval="60000">
				<!-- Indicators -->
				<div class="carousel-indicators">
					{{#each pics}}
						<div class="carousel-indicator-container {{#if @first}}active{{/if}}">
							<img
								src="{{this}}"
								data-target="#carousel-generic-{{../id}}"
								data-slide-to="{{@index}}"
								class="carousel-indicator"
							/>
						</div>
					{{/each}}
				</div>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					{{#each pics}}
						<div class="item {{#if @first}}active{{/if}}">
							<div class="img-wrapper">
								<img src="{{this}}">
							</div>
						</div>
					{{/each}}
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-generic-{{id}}" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-generic-{{id}}" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>