<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flats</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{{> flatsStyle}}
</head>
<body>
	{{> flatSearchForm query=query cities=cities flatSortFields=flatSortFields sortDirections=sortDirections}}
	<table>
		<tbody>
		<tr class="table-header">
			<th>Link</th>
			<th>Rooms</th>
			<th>Price (hrn)</th>
			<th>Pics</th>
			<th>Title</th>
			<th>Created At</th>
			<th>Description</th>
			<th>Phones</th>
			<th>Is-Realtor Scale <sub>(less index - more likely owner)</sub></th>
		</tr>
		{{#each flats}}
			<tr class="{{getBackgroundColorClass this.isRealtorScale}}">
				<td><a href="{{this.ref}}" target="_blank">{{this.ref}}</a></td>
				<td>{{this.rooms}}</td>
				<td>{{this.price}}</td>
				<td>
					<img class="thumbnail" data-toggle="modal" data-target=".modal-carousel-{{@index}}" src="{{getThumbnail this.pics}}"/>
				</td>
				<td>{{this.title}}</td>
				<td>{{toDate this.createdAt}}</td>
				<td>{{this.description}}</td>
				<td>
					{{#each this.phones}}
						<p>{{this}}</p>
					{{/each}}
				</td>
				<td>{{this.isRealtorScale}}</td>
			</tr>
			{{> modalCarousel class=@index pics=this.pics}}
		{{/each}}
		</tbody>
	</table>
	<script	src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>